<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <!-- <link rel="stylesheet" href="/css/bootstrap.min.css" /> -->
    <link rel="stylesheet" href="/css/bootstrapstyle.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container-fluid">
            <!-- <a class="navbar-brand" href="#">Navbar</a> -->
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <button class="btn btn-outline-primary ms-5 me-2 " type="button">
                    <a class="nav-link active text-white" aria-current="page" href="#"
                      >Home</a
                    >
                  </button>
                </li>
                <%for(i=0;i<nav.length;i++){%>
                  <li class="nav-item">
                    <button class="btn btn-outline-primary me-2 " type="button">
                      <a class="nav-link active text-white" aria-current="page" href="<%=nav[i].link%>"
                        ><%=nav[i].name%></a
                      >
                    </button>
                  </li>
                <%}%>
                
              </ul>
            </div>
          </div>
        </nav>
      </header>
     
      <img src="/images/<%=img%>" alt="homepage image">       
  
      
  
     
  
      <footer>
        <div class="container">
          <div class="row  pt-3 pb-3">
            <div class="col-sm-12 d-flex">
              <p class="ms-auto">Built by <a href="#">Neeraj Jerauld</a></p>
            </div>
          </div>
        </div>
      </footer>
  
      <!-- <script src="/js/bootstrap.min.js"></script> -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>